html{
    scroll-behavior: smooth;
}
.card-body>p{
    margin: 0;
    padding: 0;
    text-align: center;
} 
.p-3{
    margin-top: 1rem;
    text-align: center;
}
.text-body-emphasis{
    font-size:2rem;
}
.content{
    margin: 0;
    padding: 0;
}
.text-center{
    margin-top:1rem;
}
.name{
    color: #141E46;
}
.text-body-emphasis{
    text-decoration: underline;
}
.location{
    text-align: center;
    text-decoration: underline;
}
.text-body-secondary{
    margin-bottom: 5px;
}
.address{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.address-popup{
    margin-bottom: 1rem;
}
.image-storage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-holder{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.button-holder{
    box-sizing: border-box;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.foot{
    margin-top: 1rem;
}
